@import "main.scss";

.app-page{
    width:100%;
    max-width: 900px;
    min-width: 500px;
    height:100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    flex-grow: 1;
    position:relative;
    @media screen and (max-width:500px) {
        min-width: 100%;
    }
    display:flex;
    flex-direction: column;
    
    &.no-pad{
        padding: 0;
    }
}


.loading-graphic{
    width: 100vw;
    max-width: 900px;
    height: 100vh;
    background: repeating-radial-gradient(
        circle at 50%, 
        rgba($primary,0.2),
        rgba($primary,0.2) 25%, 
        rgba($primary, 0.4) 25.1%, 
        rgba($primary,0.4) 50%,
        rgba($primary,0.6) 50.1%,
        rgba($primary,0.6) 75%,
        rgba($primary,0.8) 75.1%,
        rgba($primary,0.8) 100%
        );
    background-size: 0%;
    background-position: 50%;
    content:"Loading";
    animation: loading 5s ease-in-out infinite forwards;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px; 

    @keyframes loading{
        0%{
            content:"Loading.";
            background-size:100%;
            opacity: 1;
        }
        50%{
            content:"Loading..";
            background-size: 150%;
            opacity: 1;
        }
        100%{
            content:"Loading..";
            background-size:100%;
            opacity: 1;
        }
    }
}